.width-adjust {
  margin-left: 10%;
}

.avoid-navbar {
  margin-top: 50px;
}

.menu-style {
  width: 1.8%;
}

.menu-name {
  width: 96.5%;
  margin-top: 0.5%;
}

.stat-1-1 {
  width: 40%;
  margin-left: 15%;
}

.stat-1-2 {
  width: 33%;
}

.stat-1-3 {
  width: 20%;
}

.stat-2-1 {
  width: 28.5%;
  margin-left: 10%;
}

.stat-2-2 {
  width: 26%;
}

.stat-2-3 {
  width: 25%;
}

.stat-2-4 {
  width: 17%;
}

.right-alignment {
  margin-left: 55%;
  width: 20%;
}

.right-alignment-2 {
  margin-left: 10%;
  width: 95%;
}
